* {
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.column{
    float:left;
    padding:10px;
}

.left{
    width:30%;
    background-color:#FFFFFF;
}

.right{
    width:70%;
    background-color:#FFFFFF;
}

.row:after{
    content:"";
    display:table;
    clear:both;
}

.myImage{
    width:40%;
    border-radius:40%;
}
.HNG{
    width:40%;
}
hr{
    position: 'absolute';
    left:100%;
}
